---
defaults:
  cameras: ['r1', 'r2', 'r3', 'b1', 'b2', 'b3', 'z1', 'z2', 'z3']
  interactive: auto
  no_prompt: null
  check_pressure: true
  check_temperature: true
  max_temperature: -140
  max_pressure: 0.001
  min_purge_time: 1200
  max_purge_time: 1800
  min_fill_time: 120
  max_fill_time: 360
  use_thermistors: true
  log_path: '/data/logs/lvmcryo/{timestamp}.log'
  data_path: '/data/logs/lvmcryo/{timestamp}.parquet'

notifications:
  slack_channels:
    info: lvm-notifications
    error:
      - lvm-notifications
      - lvm-alerts
  slack_mentions:
    error: '@here'
  email_recipients:
    - gallegoj@uw.edu
  email_server: smtp-01.lco.cl
  email_from: LVM LN2 system <lvm-ln2@lco.cl>
  email_reply_to: lvm-critical@sdss.org

api_routes:
  slack: http://lvm-hub.lco.cl:8080/api/slack/message
  alerts: http://localhost:8888/alerts
  fill_data: http://lvm-hub.lco.cl:8080/api/spectrographs/fills/measurements
  register_fill: http://lvm-hub.lco.cl:8080/api/spectrographs/fills/register

valve_info:
  r1:
    actor: lvmnps.sp1
    outlet: r1
  b1:
    actor: lvmnps.sp1
    outlet: b1
  z1:
    actor: lvmnps.sp1
    outlet: z1
  r2:
    actor: lvmnps.sp2
    outlet: r2
  b2:
    actor: lvmnps.sp2
    outlet: b2
  z2:
    actor: lvmnps.sp2
    outlet: z2
  r3:
    actor: lvmnps.sp3
    outlet: r3
  b3:
    actor: lvmnps.sp3
    outlet: b3
  z3:
    actor: lvmnps.sp3
    outlet: z3
  purge:
    actor: lvmnps.sp1
    outlet: purge
    thermistor:
      channel: supply
